.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%; }

.auth-wrapper .auth-inner {
  width: 100%;
  position: relative; }

.auth-wrapper.auth-v1 {
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.auth-wrapper.auth-v1 .auth-inner:before {
  width: 244px;
  height: 243px;
  content: ' ';
  position: absolute;
  top: -54px;
  left: -46px;
  background-image: url(""); }

@media (max-width: 575.98px) {
  .auth-wrapper.auth-v1 .auth-inner:before {
    display: none; } }

.auth-wrapper.auth-v1 .auth-inner:after {
  width: 272px;
  height: 272px;
  content: ' ';
  position: absolute;
  bottom: -55px;
  right: -75px;
  background-image: url("");
  z-index: -1; }

@media (max-width: 575.98px) {
  .auth-wrapper.auth-v1 .auth-inner:after {
    display: none; } }

.auth-wrapper.auth-v2 {
  align-items: flex-start; }

.auth-wrapper.auth-v2 .auth-inner {
  height: 100vh;
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100); }

.auth-wrapper.auth-v2 .brand-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 0;
  z-index: 1; }

.auth-wrapper.auth-v1 .auth-inner {
  max-width: 400px; }

.auth-wrapper .brand-logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0; }

.auth-wrapper .brand-logo .brand-text {
  font-weight: 600; }

.auth-wrapper .auth-footer-btn .btn {
  padding: 0.6rem !important; }

.auth-wrapper .auth-footer-btn .btn:not(:last-child) {
  margin-right: 1rem; }

@media (min-width: 1200px) {
  .auth-wrapper.auth-v2 .auth-card {
    width: 400px; } }

.auth-wrapper .auth-bg {
  background-color: #fff; }

.dark-layout .auth-wrapper .auth-bg {
  background-color: #283046; }

@media (max-height: 625px) {
  .dark-layout .auth-wrapper .auth-inner {
    background-color: #283046; }
  .auth-wrapper .auth-bg {
    padding-top: 3rem; }
  .auth-wrapper .auth-inner {
    background-color: #fff;
    padding-bottom: 1rem; }
  .auth-wrapper.auth-v2 .brand-logo {
    width: 100%;
    display: flex;
    justify-content: unset;
    position: relative;
    left: 0;
    padding-left: 1.5rem; } }
