.logo-header {
    position: absolute;
    left: calc(50% - -3px) !important;
    padding: 0;
    z-index: 1000;
}

.vs-checkbox--icon.material-icons {
    font-size: 17px !important;
}

.btn-primary.isDisabled {
    color: red;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.vdp-datepicker__calendar {
    z-index: 1419 !important;
}

.toast-message {
    color: #ffffff !important;
}

.toast-title {
    color: #ffffff !important;
}

.toast-icon {
    display: none !important;
}

.input-tel__input.is-invalid {
    border: 1px solid #f00 !important;
}

#text-line-participation.is-invalid {
    color: red !important;
}

.dropzone-area.is-invalid {
    border: 1px solid #f00 !important;
}

.is-invalid .multiselect__tags {
    border: 1px solid #f00 !important;
}
#title-headHousehold.is-invalid{
    color: red;
}
#title-victimConflict.is-invalid{
    color: red;
}
#title-disability.is-invalid{
    color: red;
}
#title-vinculad-ecopetrol.is-invalid{
    color: red;
}
#title-primero-empleo_ecopetrol.is-invalid{
    color: red;
}
#title-bachiller-colombia-ecopetrol.is-invalid{
    color: red;
}

.background-auth {
    object-fit: contain;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat !important;
    background-image: url(/images/imagen-registro-logos.png)
}

@media (max-width: 472px) and (min-width: 320px) {
    .background-auth {
        height: 45%;
        width: 50%;
        background-size: cover;
        display: block !important;
    }
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: #00CDC7 !important;
}

.plyr--full-ui input[type=range] {
    color: #00CDC7 !important;;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #00CDC7 !important;
}
.multiselect__option--highlight{
    background: #00CDC7 !important;
}
.vdp-datepicker__calendar .cell.selected{
    background: #00CDC7 !important;
    color: #ffffff !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
    border: 1px solid #00CDC7 !important;
}

#dpz-archives-register-minor{
    text-align: center !important;
}

.vue-dropzone>.dz-preview .dz-details{
    background-color: #00CDC7 !important;
}
